<li>
	<div class="controls controls-row">
		<%= f.hidden_field :id %>
		<%= f.text_field :name, class: "span3", placeholder: "name" %>
		<%= f.text_field :price, class: "span2", placeholder: "price" %>
		<%= f.hidden_field :_destroy, class: "destroy-fields" %>
		<%= link_to "remove", "#", class: "remove-fields" %>
	</div>
</li>